<div class="container">
 <form class="border w-50 p-5 m-5 bg-light" [formGroup]="productForm">
    <div class="form-group ">
        <label>Enter Id</label>
        <input [formControl]="id" id="id" class="form-control">
        <div [hidden]="id.valid||id.untouched">Id is invalid</div>
    </div>
    <div class="form-group">
        <label>Enter Name</label>
        <input class="form-control" [formControl]="name" id="name">
        <div [hidden]="name.valid||name.untouched">Name is invalid</div>
        <div [hidden]="!name.hasError('minlength')">name must be of 5 characters</div>
        <div [hidden]="!name.hasError('minlength')">name must be of 5 characters</div>
    </div>
    <div class="form-group">
        <label>Enter Cost</label>
        <input class="form-control" [formControl]="cost" id="cost">
        <div [hidden]="cost.valid||cost.untouched">Cost is invalid</div>
    </div>
    <div class="form-group">
        <button type="submit" class=" m-2 ">Submit</button>
        <button type="reset">Cancel</button>
    </div>
 </form>
</div>
