.list{
    border: inset 20px violet;
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 50px;
    width: 30%;
    float: left;
}
.img1{
    float: left;
}
.button {
    border-top: 1px solid #96d1f8;
    background-color: rebeccapurple;
    margin: auto;
}
